USE [master]
GO
/****** Object:  Database [Treningi]    Script Date: 24.03.2023 13:06:07 ******/
CREATE DATABASE [Treningi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Treningi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Treningi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Treningi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Treningi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Treningi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Treningi]
GO
/****** Object:  Table [dbo].[activityTypes]    Script Date: 24.03.2023 13:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activityTypes](
	[activityTypeID] [int] NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[activityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[months]    Script Date: 24.03.2023 13:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[months](
	[month_number] [int] NOT NULL,
	[month_name] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[month_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumberOfHoursInIndividualMonths]    Script Date: 24.03.2023 13:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberOfHoursInIndividualMonths](
	[month_number] [int] NOT NULL,
	[month_name] [varchar](60) NOT NULL,
	[number_of_hours] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workouts]    Script Date: 24.03.2023 13:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workouts](
	[workoutID] [int] NOT NULL,
	[startTime] [datetime] NULL,
	[finishTime] [datetime] NULL,
	[distance] [float] NULL,
	[duration] [int] NULL,
	[calories] [float] NULL,
	[activityTypeID] [int] NULL,
	[description] [varchar](300) NULL,
 CONSTRAINT [PK__workouts__0986D89AA755C3DB] PRIMARY KEY CLUSTERED 
(
	[workoutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[activityTypes] ([activityTypeID], [name]) VALUES (1, N'Kolarstwo')
INSERT [dbo].[activityTypes] ([activityTypeID], [name]) VALUES (2, N'Narciarstwo zjazdowe')
INSERT [dbo].[activityTypes] ([activityTypeID], [name]) VALUES (3, N'Narciarstwo biegowe')
GO
INSERT [dbo].[months] ([month_number], [month_name]) VALUES (1, N'Styczeń')
INSERT [dbo].[months] ([month_number], [month_name]) VALUES (2, N'Luty')
INSERT [dbo].[months] ([month_number], [month_name]) VALUES (3, N'Marzec')
GO
INSERT [dbo].[NumberOfHoursInIndividualMonths] ([month_number], [month_name], [number_of_hours]) VALUES (1, N'Styczeń', 123.168)
INSERT [dbo].[NumberOfHoursInIndividualMonths] ([month_number], [month_name], [number_of_hours]) VALUES (2, N'Luty', 127.138)
INSERT [dbo].[NumberOfHoursInIndividualMonths] ([month_number], [month_name], [number_of_hours]) VALUES (3, N'Marzec', 42.928)
GO
INSERT [dbo].[workouts] ([workoutID], [startTime], [finishTime], [distance], [duration], [calories], [activityTypeID], [description]) VALUES (1, CAST(N'2014-08-20T10:40:13.000' AS DateTime), CAST(N'2014-08-20T13:03:35.000' AS DateTime), 4.109, 8597, 393, 5, NULL)
INSERT [dbo].[workouts] ([workoutID], [startTime], [finishTime], [distance], [duration], [calories], [activityTypeID], [description]) VALUES (2, CAST(N'2014-08-22T18:30:29.000' AS DateTime), CAST(N'2014-08-22T19:26:19.000' AS DateTime), 4.082, 3348, 246, 5, NULL)
INSERT [dbo].[workouts] ([workoutID], [startTime], [finishTime], [distance], [duration], [calories], [activityTypeID], [description]) VALUES (3, CAST(N'2014-08-23T10:42:15.000' AS DateTime), CAST(N'2014-08-23T13:23:55.000' AS DateTime), 10.509, 9699, 668, 5, NULL)
GO
ALTER TABLE [dbo].[workouts]  WITH CHECK ADD  CONSTRAINT [FK__workouts2__activ__30F848ED] FOREIGN KEY([activityTypeID])
REFERENCES [dbo].[activityTypes] ([activityTypeID])
GO
ALTER TABLE [dbo].[workouts] CHECK CONSTRAINT [FK__workouts2__activ__30F848ED]
GO
/****** Object:  StoredProcedure [dbo].[getNumberOfHoursInIndividualMonths]    Script Date: 24.03.2023 13:06:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getNumberOfHoursInIndividualMonths]
AS
BEGIN
	IF OBJECT_ID('NumberOfHoursInIndividualMonths', 'table') IS NOT NULL
		DROP TABLE NumberOfHoursInIndividualMonths;

	SELECT 
	month_number, 
	month_name, 
	ISNULL(ROUND(CAST(SUM(w.duration) AS float)/3600.0, 3), 0) number_of_hours
	INTO NumberOfHoursInIndividualMonths
	FROM workouts w 
	RIGHT JOIN months m ON MONTH(w.finishTime) = month_number
	GROUP BY month_number, month_name
	ORDER BY month_number;
END
GO
USE [master]
GO
